<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
</head>


<form id="crearForm">
    ID Cliente: <input id="cliente" type="text" name="cliente"/><br>
    ID Pelicula: <input id="pelicula" type="text" name="pelicula"/><br>
    Fecha Alquiler:<input id="fechaalquiler" type="date" name="fechaalquiler"/><br>
    Fecha Devolucion:<input id="fechadevuelto" type="date" name="fechadevuelto"/><br>
    Dias Alquilado:<input id="diasalquilado" type="text" name="diasalquilado"/><br>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>


<script>
    $("#crearForm").submit(function (event) {
        event.preventDefault();
        var form = $(this);
        var url = '/alquileres';
        var alquiler =
            {
                "clienteByIdcliente": {
                    "idcliente": form.find('input[name="cliente"]').val(),
                },
                "peliculasByIdpelicula": {
                    "idpeliculas": form.find('input[name="pelicula"]').val(),
                },
                "fechaalquiler": form.find('input[name="fechaalquiler"]').val(),
                "fechadevuelto": form.find('input[name="fechadevuelto"]').val(),
                "diasalquilado": form.find('input[name="diasalquilado"]').val(),


            }

        var jsonString = JSON.stringify(alquiler);
        console.log(jsonString);
        $.ajax({
            type: 'POST',
            url: url,
            contentType: 'application/json',
            data: jsonString,
            success: function (data, status, xhr) {
                window.location = "/alquileres";
            },
        });
    });

</script>