<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <style>
        button {
            background-color: #1b26f2;
            border: none;
            color: white;
            padding: 10px 27px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
        }
    </style>
</head>

<pre>
    <form id="editarForm">
    ID Alquiler:<span id="idalquiler" name="id" type="text" th:text="${alquileres.idalquileres}"/><br>
    <div style="width:300px;">
        Cliente: <input list="clientes" id="cliente" type="text" name="cliente"/>
        <datalist id="clientes">
            <option th:each="row : ${listaClientes}" th:data-value="${row.idcliente}" th:value="${row.nombre}">
        </datalist>
    </div>
    <br>
    <div style="width:300px;">
        Pelicula: <input list="peliculas" id="pelicula" type="text" name="pelicula"/>
        <datalist id="peliculas">
            <option th:each="row : ${listaPeliculas}" th:data-value="${row.idpeliculas}" th:value="${row.nombre}">
        </datalist>
    </div>
    <br>
    Fecha Alquiler:<span id="fechaalquiler" name="fechaalquiler" type="date"
                         th:text="${alquileres.fechaalquiler}"/><br>
    Fecha Devolucion:<input type="date" id="fechadevuelto" name="fechadevuelto"
                            th:value="${alquileres.fechadevuelto}"/><br>
    Dias Alquilado:<input id="diasalquilado" name="diasalquilado" type="text"
                          th:value="${alquileres.diasalquilado}"/><br>
    <button type="submit" value="Submit">Submit</button>
</form>
</pre>
<button>
    <a class="button1" name="volver" style="cursor:pointer; color: #f2f2f2"
       href="/alquileres">Volver
    </a>
</button>
</body>
</html>


<script>
    $("#editarForm").submit(function (event) {
        event.preventDefault();
        var form = $(this);
        var url = '/alquileres';
        var peli2send = document.querySelector("#peliculas option[value='" +
            document.getElementById("pelicula").value +
            "']").dataset.value;
        var user2send = document.querySelector("#clientes option[value='" +
            document.getElementById("cliente").value
            + "']").dataset.value;
        var alquiler =
            {

                "idalquileres": [[${alquileres.idalquileres}]],
                "clienteByIdcliente": {
                    "idcliente": user2send,
                },
                "peliculasByIdpelicula": {
                    "idpeliculas": peli2send,
                },
                "fechaalquiler": $("#fechaalquiler").text(),
                "fechadevuelto": form.find('input[name="fechadevuelto"]').val(),
                "diasalquilado": form.find('input[name="diasalquilado"]').val(),


            }

        var jsonString = JSON.stringify(alquiler);
        console.log(jsonString);

        $.ajax({
            type: 'PUT',
            url: url,
            contentType: 'application/json',
            data: jsonString,
            success: function (data, status, xhr) {
                window.location = "/alquileres";
            },
        });
    });
</script>