<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script type="text/javascript" th:src="@{/js/moment.js}"></script>
    <link href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <link href="css/styleButton.css" th:href="@{/css/styleButton.css}" rel="stylesheet" type="text/css">
</head>

<pre>
    <form id="editarForm">
    ID Alquiler:<span id="idalquiler" name="id" type="text" th:text="${alquileres.idalquileres}"/><br>
    Cliente: <span th:text="${alquileres.clienteByIdcliente.nombre}" id="cliente" type="text" name="cliente"/> <br>
    Pelicula: <span th:text="${alquileres.peliculasByIdpelicula.nombre}" id="pelicula" type="text" name="pelicula"/><br>
    Fecha Alquiler:<input th:value="${alquileres.fechaalquiler}" id="fechaalquiler" type="date" name="fechaalquiler"  readonly/><br>
   Fecha Devolucion:<input th:value="${alquileres.fechadevuelto}" id="fechadevuelto" type="date" name="fechadevuelto" min=today max="2019-12-31" required/><br>
    <button type="submit" value="Submit">Submit</button>
</form>
</pre>
<button>
    <a class="button1" name="volver" style="cursor:pointer; color: #f2f2f2"
       href="/alquileres">Volver
    </a>
</button>
</body>
</html>

<script>
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();
    if (dd < 10) {
        dd = '0' + dd
    }
    if (mm < 10) {
        mm = '0' + mm
    }

    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("fechadevuelto").setAttribute("min", today);
</script>
<script>
    function calcularDias() {
        var dateStart = new Date($("#fechaalquiler").val());
        var dateEnd = new Date($("#fechadevuelto").val());
        return (((dateEnd - dateStart) / 86400) / 1000);
    }
</script>
<script>
    $("#editarForm").submit(function (event) {
        event.preventDefault();
        var form = $(this);
        var url = '/alquileres';
		var dias = calcularDias();
        var alquiler =
            {
                "idalquileres": [[${alquileres.idalquileres}]],
                "clienteByIdcliente": {
                    "idcliente": [[${alquileres.clienteByIdcliente.idcliente}]],
                },
                "peliculasByIdpelicula": {
                    "idpeliculas": [[${alquileres.peliculasByIdpelicula.idpeliculas}]],
                },
                "fechaalquiler": moment($("#fechaalquiler").val()).add(1,'days').format().replace(/T.+/, ''),
                "fechadevuelto": moment($("#fechaalquiler").val()).add(dias+1,'days').format().replace(/T.+/, ''),
                "diasalquilado": dias,
            }

        var jsonString = JSON.stringify(alquiler);
        console.log(jsonString);

        $.ajax({
            type: 'PUT',
            url: url,
            contentType: 'application/json',
            data: jsonString,
            success: function (data, status, xhr) {
                window.location = "/alquileres";
            },
        });
    });
</script>