<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Alquileres</title>
    <link href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Load the plugin bundle. -->
    <script src="filter/excel-bootstrap-table-filter-bundle.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="filter/excel-bootstrap-table-filter-style.css" />
    <link href="css/styleButton.css" th:href="@{/css/styleButton.css}" rel="stylesheet" type="text/css">
</head>

<br>
<body>
<table id="tablaAlquileres">
    <thead>
        <tr>
            <th>IdAlquiler</th>
            <th>FechaAlquilado</th>
            <th>FechaDevolucion</th>
            <th>DiasAlquilados</th>
            <th>Cliente</th>
            <th>Pelicula</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="alquileres :${listaAlquileres}">
            <td th:text="${alquileres.idalquileres}">idAlquiler</td>
            <td th:text="${alquileres.fechaalquiler}">fechaAlquiler</td>
            <td th:text="${alquileres.fechadevuelto}">fechaDevuelto</td>
            <td th:text="${alquileres.diasalquilado}">diasAlquilado</td>
            <td th:text="${alquileres.clienteByIdcliente.nombre}">cliente</td>
            <td th:text="${alquileres.peliculasByIdpelicula.nombre}">pelicula</td>
            <td th:id="${alquileres.idalquileres}" class="button1" name="editar" style="cursor:pointer"
                OnClick="javascript:editar(id)">Editar
            </td>
            <td th:id="${alquileres.idalquileres}" class="button1" name="devolver" style="cursor:pointer"
                OnClick="javascript:devolver(id)">Devolver
            </td>
            <td th:id="${alquileres.clienteByIdcliente.idcliente}" class="button1" name="vercliente" style="cursor:pointer"
                OnClick="javascipt:vercliente(id)">Ver Cliente
            </td>
        </tr>
    </tbody>
    </table>
<br>
<button>
    <a class="button1" name="crear" style="cursor:pointer;color: #f2f2f2"
       href="/alquileres/crear">Crear
    </a>
</button>
<button>
    <a class="button1" name="verLog" style="cursor:pointer;color: #f2f2f2"
       href="/alquileres/logs">Ver Logs
    </a>
</button>
<button>
    <a class="button1" name="Ver vencidos" style="cursor:pointer; color: #f2f2f2"
       href="/alquileres/vencidos">Vencidos
    </a>
</button>
<button>
    <a class="button1" name="volver" style="cursor:pointer; color: #f2f2f2"
       href="/">Volver
    </a>
</button>
</body>
</html>


<script type="text/javascript">
    $(function () {
        $('#tablaAlquileres').excelTableFilter();
    });
    function editar(id) {
        window.location = "alquileres/editar?idalquiler=" + id;
    }

    function devolver(id) {

        var url = '/alquileres/' + id;
        var jsonString = JSON.stringify({idalquiler: id});
        console.log(jsonString);
        $.ajax({
            type: "DELETE",
            url: url,
            data: jsonString,
            success: function (msg) {
                location.reload();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                location.reload();
            }
        });
    }

    function vercliente(id) {
        window.location = "alquileres/verCliente?idcliente=" + id;
    }
</script>
