<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Logs</title>
    <link href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <link href="css/styleButton.css" th:href="@{/css/styleButton.css}" rel="stylesheet" type="text/css">
</head>
<body>
<table>
    <tr>
        <th>Mensajes</th>
    </tr>
    <tr th:each="logs :${logs}">
        <td th:text="${logs}">Mensajes</td>
    </tr>
</table>
<button>
    <a class="button1" name="volver" style="cursor:pointer; color: #f2f2f2"
       href="/alquileres">Volver
    </a>
</button>
</body>
</html>