<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
</head>


<form id="editarForm">
    ID Alquiler:<span id="idalquiler" name="id" type="text" th:text="${alquileres.idalquileres}"/><br>
    Cliente: <input id="cliente" type="text" name="cliente" th:value="${alquileres.clienteByIdcliente.idcliente}"/><br>
    Pelicula: <input id="pelicula" type="text" name="pelicula"
                     th:value="${alquileres.peliculasByIdpelicula.idpeliculas}"/><br>
    Fecha Alquiler:<input id="fechaalquiler" name="fechaalquiler" type="text"
                          th:text="${alquileres.fechaalquiler}"/><br>
    Fecha Devolucion:<input id="fechadevuelto" name="fechadevuelto" type="text"
                            th:text="${alquileres.fechadevuelto}"/><br>
    Dias Alquilado:<input id="diasalquilado" name="diasalquilado" type="text"
                          th:text="${alquileres.diasalquilado}"/><br>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>


<script>
    $("#editarForm").submit(function (event) {
        event.preventDefault();
        var form = $(this);
        var id = [[${alquileres.idalquileres}]];
        var url = '/alquileres';
        var cliente = form.find('input[name="cliente"]').val();
        var pelicula = form.find('input[name="pelicula"]').val();
        var fchalquiler = form.find('input[name="fchalquiler"]').val();
        var fchdevuelto = form.find('input[name="fechadevuelto"]').val();
        var diasalquilado = form.find('input[name="diasalquilado"]').val();

        var jsonString = JSON.stringify({
            idalquileres: id,
            clienteByIdcliente: cliente,
            peliculasByIdpelicula: pelicula,
            fechaalquiler: fchalquiler,
            fechadevuelto: fchdevuelto,
            diasalquilado: diasalquilado
        });
        console.log(jsonString);

        $.ajax({
            type: 'PUT',
            url: url,
            contentType: 'application/json',
            data: jsonString,
            success: function (data, status, xhr) {
                window.location = "/alquileres";
            },
        });
    });

