<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Crear Género</title>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <link href="css/styleCrear.css" th:href="@{/css/styleCrear.css}" rel="stylesheet" type="text/css">
</head>

<pre>
    <form id="crearForm">
    Nombre: <input id="nombre" type="text" pattern="^[a-zA-Z ]+$" name="nombre" required/><br>
    <button type="submit" value="Submit">Submit</button>
</form>
</pre>

<br>
<button>
    <a class="button1" name="volver" style="cursor:pointer; color: #f2f2f2"
       href="/peliculas/crear">Volver</a>
</button>
</body>
</html>

<script>
    $("#crearForm").submit(function (event) {
        event.preventDefault();
        var form = $(this);
        var url = '/generos';
        var nombre = form.find('input[name="nombre"]').val();
        var jsonString = JSON.stringify({nombre: nombre});
        console.log(jsonString);

        $.ajax({
            type: 'POST',
            url: url,
            contentType: 'application/json',
            data: jsonString,
            success: function (data, status, xhr) {
                window.location="/peliculas/crear";
            },
            error: function (xhr, ajaxOptions, thrownError) {
                switch (xhr.status) {
                    case 302:
                        alert("Ya existe el genero")
                }
            },
        });
    });

</script>