<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Home Page</title>

    <link href="css/styleHome.css" rel="stylesheet" type="text/css">
</head>
<body>
<p style="font-size: x-large;font-family: 'Times New Roman';font-style: italic">Welcome to...</p>
<img src="http://i67.tinypic.com/ir8glw.jpg">
<p></p>
<button class="button"><a style="color: white" href="/usuarios">Usuarios</a></button>
<button class="button"><a style="color: white" href="/peliculas">Peliculas</a></button>
<button class="button"><a style="color: white" href="/alquileres">Alquileres</a></button>
</body>
</html>