<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <link href="css/styleCrear.css" th:href="@{/css/styleCrear.css}" rel="stylesheet" type="text/css">

</head>

<body>
        <form id="crearForm">
            <pre>
             Nombre:<input id="nombre" type="text" name="nombre" required/><br>
             Genero:<select id="selectGenero"><option th:each="genero : ${generos}" th:value="${genero.idgeneros}" th:text="${genero.nombre}">genero</option></select>
             Stock:<input id="stock" type="text" name="stock" required/><br>
            <button type="submit" value="Submit">Submit</button> <button><a class="button1" name="Crear Genero" style="cursor:pointer; color: #f2f2f2" href="/generos/crear">Crear Género</a></button>
            </pre>
</form>

<br>
    <button>
        <a class="button1" name="volver" style="cursor:pointer; color: #f2f2f2"
           href="/peliculas">Volver</a>
    </button>
</body>
</html>


<script>
    $("#crearForm").submit(function (event) {
        event.preventDefault();
        var form = $(this);
        var url = '/peliculas';
        var peliculaData =
            {
                "nombre": form.find('input[name="nombre"]').val(),
                "generosByIdgenero": {
                    "idgeneros": document.getElementById('selectGenero').value,
                    "nombre": document.getElementById('selectGenero').textContent,
                },
            }

        var jsonString = JSON.stringify(pelicula);
        console.log(jsonString);

        $.ajax({
            type: 'POST',
            url: url,
            contentType: 'application/json',
            data: jsonString,
            success: function (data, status, xhr) {
                window.location = "/peliculas";
            },
        });
    });

</script>