<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Peliculas</title>
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Load the plugin bundle. -->
    <script src="filter/excel-bootstrap-table-filter-bundle.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="filter/excel-bootstrap-table-filter-style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/styleButton.css" th:href="@{/css/styleButton.css}" rel="stylesheet" type="text/css">
</head>
<body>
<br>
<table style="margin-top: 1%" id="moviesTable">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Genero</th>
            <th>Cantidad</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="pelicula :${listaDePelisConCantidad}">
            <td th:text="${pelicula[0]}">Nombre</td>
            <td th:text="${pelicula[1]}">Genero</td>
            <td th:text="${pelicula[2]}">Cantidad</td>
            <td th:text="${pelicula[3]}">Stock disponible</td>
            </tr>
    </tbody>
</table>


<button>
<a class="button1" name="crear" style="cursor:pointer;color: #f2f2f2"
   href="/peliculas/crear">Crear
</a>
</button>
<button>
    <a class="button1" name="volver"  style="cursor:pointer; color: #f2f2f2"
       href="/">Volver
    </a>
</button>
</body>
</html>

<script type="text/javascript">
    function editar(id) {
        window.location = "peliculas/editar?idpeliculas=" + id;
    }
    $(function () {
        $('#moviesTable').excelTableFilter();
    });
</script>

</body>
</html>