<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
</head>


<form id="editarForm">
    Nombre: <input id="nombre" type="text" name="nombre" /><br>
    Genero:
    <select id="selectGenero" >
        <option th:each="genero : ${generos}" th:value="${genero.idgeneros}" th:text="${genero.nombre}">genero</option>
    </select>
    <br>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>

<script>
    $("#editarForm").submit(function (event) {
        event.preventDefault();
        var form = $(this);
        var url = '/peliculas';
        var pelicula =
            {
                "nombre": form.find('input[name="nombre"]').val(),
                "generosByIdgenero": {
                    "idgeneros": document.getElementById('selectGenero').value,
                    "nombre" : document.getElementById('selectGenero').textContent,
                }
            }

        var jsonString = JSON.stringify(pelicula);
        console.log(jsonString);

        $.ajax({
            type: 'POST',
            url: url,
            contentType: 'application/json',
            data: jsonString,
            success: function (data, status, xhr) {
                window.location = "/peliculas";
            },
        });
    });

</script>