<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
</head>


<form id="editarForm" th:each="usuario :${usuarios}">
    IDCliente: <a id="id" name = "id" type="text" th:text="${usuario.idcliente}"/><br>
    Nombre: <input id="nombre" type="text" name="nombre" th:value="${usuario.nombre}"/><br>
    DNI: <input id="dni" type="text" name="dni" th:value="${usuario.dni}"/><br>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>

<!--
<script type="text/javascript">
    function editar(id,nombre,dni){
        window.location = "usuarios/editar?idcliente=" + id + "&nombre=" + nombre + "&dni=" + dni;
    }
</script>-->
<script>
    $("#editarForm").submit(function(event){
        event.preventDefault();
        var form = $(this);
        var id = form.find('input[name="id"]').val();
        var url = '/usuarios/'+id;
        var nombre = form.find('input[name="nombre"]').val();
        var dni = form.find('input[name="dni"]').val();

        $.ajax({
            type : 'PUT',
            url : url,
            contentType: 'application/x-www-form-urlencoded',
            data : "dni="+dni+"&nombre="+nombre,
            success : function(data, status, xhr){
                $("#result").html(data+
                    " link: <a href='"+url+"'>"+url+"</a>");
            },
            error: function(xhr, status, error){
                alert(error);
            }
        });
    });

</script>