<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>PeliculasDeUsuario</title>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <link href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="css/styleButton.css" th:href="@{/css/styleButton.css}" rel="stylesheet" type="text/css">
</head>

<body>
<table>
    <tr>
        <th>IdPelicula</th>
        <th>Nombre</th>
        <th>Genero</th>
    </tr>
    <tr th:each="pelicula :${peliculasByUsuarioList}">
        <td th:text="${pelicula.idpeliculas}">IdPelicula</td>
        <td th:text="${pelicula.nombre}">Nombre</td>
        <td th:text="${pelicula.generosByIdgenero.nombre}">Genero</td>
    </tr>
</table>
<button>
    <a class="button1" name="volver" style="cursor:pointer; color: #f2f2f2"
       href="/usuarios">Volver
    </a>
</button>
</body>
</html>

</body>
</html>