<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
</head>


<form id="editarForm" >
    IDCliente:<span id="id" name = "id" type="text" th:text="${usuario.idcliente}"/><br>
    Nombre: <input id="nombre" type="text" name="nombre" th:value="${usuario.nombre}"/><br>
    DNI: <input id="dni" type="text" name="dni" th:value="${usuario.dni}"/><br>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>


<script>
    $("#editarForm").submit(function(event){
        event.preventDefault();
        var form = $(this);
        var id = [[${usuario.idcliente}]];
        var url = '/usuarios/'+id;
        var nombre = form.find('input[name="nombre"]').val();
        var dni = form.find('input[name="dni"]').val();
        var jsonString = JSON.stringify({idcliente: id, nombre: nombre, dni: dni});
        console.log(jsonString);

        $.ajax({
            type : 'PUT',
            url : url,
            contentType: 'application/json',
            data : jsonString,
            success : function(data, status, xhr){
                $("#result").html(data+
                    " link: <a href='"+url+"'>"+url+"</a>");
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                window.location="/usuarios";
            }
        });
    });

</script>