<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="css/styleButton.css" th:href="@{/css/styleButton.css}" rel="stylesheet" type="text/css">
</head>

<pre>
    <form id="editarForm" >
    <
        IDCliente:<span id="id" name = "id" type="text" th:text="${usuario.idcliente}"/><br>
        Nombre: <input id="nombre" type="text" pattern="^[a-zA-Z ]+$" name="nombre" th:value="${usuario.nombre}" required/><br>
        DNI: <input id="dni" type="text" min="1000000" max="99999999" name="dni" th:value="${usuario.dni}" required/><br>
        <button type="submit" value="Submit">Submit</button>
    </form>
</pre>
<br>
<button>
    <a class="button" name="volver"  style="cursor:pointer; color: #f2f2f2"
       href="/usuarios">Volver
    </a>
</button>
</body>
</html>


<script>
    $("#editarForm").submit(function(event){
        event.preventDefault();
        var form = $(this);
        var id = [[${usuario.idcliente}]];
        var url = '/usuarios';
        var nombre = form.find('input[name="nombre"]').val();
        var dni = form.find('input[name="dni"]').val();
        var jsonString = JSON.stringify({idcliente: id, nombre: nombre, dni: dni});
        console.log(jsonString);

        $.ajax({
            type : 'PUT',
            url : url,
            contentType: 'application/json',
            data : jsonString,
            success : function(data, status, xhr){
                window.location="/usuarios";
            },
        });
    });

</script>