<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Usuarios</title>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <style>
        button{
            background-color: #1b26f2;
            border: none;
            color: white;
            padding: 10px 27px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
        }
    </style>
</head>

<body>
<table>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Dni</th>
    </tr>
    <tr th:each="usuario :${listaUsuarios}">
        <td th:text="${usuario.idcliente}">id</td>
        <td th:text="${usuario.nombre}">nombre</td>
        <td th:text="${usuario.dni}"> Dni</td>
        <td th:id="${usuario.idcliente}" class="button1" name="editar" style="cursor:pointer"
            OnClick="javascript:editar(id)">Editar
        </td>
        <td th:id="${usuario.idcliente}" class="button1" name="eliminar" style="cursor:pointer"
            OnClick="javascript:eliminar(id)">Eliminar
        </td>
    </tr>
</table>
<button>
    <a class="button1" name="crear" style="cursor:pointer; color: #f2f2f2"
       href="/usuarios/crear">Crear
    </a>
</button>
<button>
    <a class="button1" name="volver"  style="cursor:pointer; color: #f2f2f2"
       href="/">Volver
    </a>
</button>
</body>
</html>

<script type="text/javascript">
    function editar(id) {
        window.location = "usuarios/editar?idcliente=" + id;
    }

    function eliminar(id) {

        var url = '/usuarios/' + id;
        var jsonString = JSON.stringify({idcliente: id});
        console.log(jsonString);
        $.ajax({
            type: "DELETE",
            url: url,
            data: jsonString,
            success: function (msg) {
                location.reload();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                switch (xhr.status) {
                    case 409:
                    alert("El usuario tiene alquileres sin devolver")
                }
            },
        });
    }
</script>
